/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/3c/e5/24/3ce52416c98d2fad100ed7d5021aa08b.jpg);
	background-position:center;
	background-size: contain;
	background-
}


h1 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	font-size: 7vw;
	padding: 2vw 0vw;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 5%;
	/*padding-top: 2.5vw;*/

}

a {
	color: black;
}

.title:focus, .twitter:focus, .facebook:focus{
	outline:0;
}

.title.hover, .twitter.hover, .facebook.hover {
	cursor: pointer;
}

.title:active, .twitter:active, .facebook:active {
	box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}



/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*///////////////    main artwork      //////////////////////*/
/*/////////////////////////////////////////////////////////*/
.top-box{
	/*border: 2px solid yellow;*/
	padding: 2vw !important;
	width: 100%;
	z-index: 1;

}

.picture-box {
  height: 40vw;
	width: 95%;
  border-radius: 1%;
  background-image: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
  background-position: center;
  z-index: 1;
  position: relative;
	transition: all 6s ease-in-out;
	/*border: 2px solid red;*/
}

.picture-box:hover {
	z-index: 1;
	transform: scale(1.1);
}

.pun {
	background: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
	background-position: center;
	background-size: auto;
	background-position: 77vw 46vw;
	height: 10vw;
  width: 40vw;
  border: .1vw solid white;
	border-radius: 5%;
  z-index: 3;
  position: absolute;
  top: 10vw;
	right: 30vw;
	box-shadow: 1vw 1vw 4vw;
	padding-bottom: 2.5vw;
	/*text-decoration: none !important;*/
}

.twitter-logo{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 4vw;
  width: 4vw;
  border: .2vw solid rgb(71, 162, 236);
  z-index: 3;
  position: absolute;
  top: 4vw;
	right: 5vw;
	box-shadow: .5vw .5vw .9vw;
	padding: 1vw;
	border-radius: 10%;
	text-decoration: none !important;

}

.facebook-logo{
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/b3/26/b5/b326b5f8d23cd1e0f18df4c9265416f7.png);
	background-size: 125%;
	background-position: center;
	background-repeat: no-repeat;
	height: 6vw;
  width: 6vw;
  border: .2vw solid rgb(71, 89, 147);
  z-index: 3;
  position: absolute;
  top: 4vw;
	right: 15vw;
	box-shadow: .5vw .5vw .9vw;
	text-decoration: none !important;
	border-radius: 10%;
}




            /*//////////////////////////////////////////////*/
            /*//////////////////////////////////////////////*/
/*///////////////    search bar and button style      //////////////////////*/
          /*/////////////////////////////////////////////*/

.search{
	z-index: 3;
	position: absolute;
	top: 30vw;
	left: 30vw;
	display: flex;
	justify-content: center;
}

.search-bar{
outline: none;
width: 40vw;
/*border: .001px solid grey;*/
text-transform: capitalize;
background-color: rgba(255, 255, 255, .5);
border-radius: 10px;
font-family: 'Fredericka the Great', cursive;
font-size: 3vw;
color: black;
}

input {
	color: black;
}

input:focus {
	outline:0;
}
#submitButton {
	display: none;
}
/*.search-button {
  width: 25vw;
  height: 5vw;
  border-radius: 1%;
	z-index: 3;
	position: relative;
	position: absolute;
	top: 3vw;
	left: 48vw;
	box-shadow: 1vw .5vw .5vw black;
	font-size: 3vw;
	font-family: 'Lily Script One', cursive;
	background-color: rgb(191,125,27);
	border: none;
	cursor: pointer;
}*/

/*button:focus {
	outline:0;
}

button:active {
	box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}*/

.audioStyle {
	width: 60vw;

}


audio::-webkit-media-controls-panel {
	z-index: 3;
	left: 16vw;
	bottom: 5vw;
	width: 60vw;
	border-radius: 5%;
	height: 3vw;
	background-image: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
	background-position: center;
	background-size: contain;
	border: 2px solid white;
}

audio::-webkit-media-controls-volume-slider {
	background-color: black;
}


audio::-webkit-media-controls-timeline {
	background-color: black;
}



					/*//////////////////////////////////////////////*/
					/*//////////////////////////////////////////////*/
/*/////////////			albums style     ////////////////////////////*/
					/*//////////////////////////////////////////////*/

.bottom-box {
	display: grid;
	background-image: url('./public/paper.jpeg');
	/*background-size: 100%;*/
  /*border: .5vw solid white;*/
  z-index: 3;
  /*position: absolute;*/
	width: 80%;
	align-content: center;
	margin-left: 12vw;


  /*width: 80%;*/
	box-shadow: .5vw .5vw .5vw;
	text-align: center;
	border-radius: 10%;
	/*margin: 0vw 3vw;*/
}

.container{
	/*display: flex;
	flex-flow: row wrap;*/

}

h3 {
	font-family: 'Fredericka the Great', cursive;
	/*background-color: rgba(255, 255, 255, .5);*/
	font-size: 4vw;
	/*width: 50%;*/
	margin: 1vw;
}


/*#results-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
	height: inherit;
  justify-content: center;
  text-align:center;
	font-size: 2vw;
	margin: 2vw;
}*/

#results-box image{
	background-position: center;
	padding: 0;
	color: none;
}

#results-box button {
	padding: 0;
	width: 80%;
}

.results-box {
  margin: 2vw;
  text-align:center;
  justify-content: space-between;
  border: .01vw solid white;
  width: 15%;
	border-radius: 5%;
	background-image: url('./public/paper.jpeg');
}



.title-element{
	font-family: 'Open Sans Condensed', sans-serif;
}

}
.recent-album {
  text-align:center;
}

figcaption {
  line-height: 3vw;
	word-wrap: break-word;
}

img {

  width: 100%;
	padding: 0vw;
}
