/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/3c/e5/24/3ce52416c98d2fad100ed7d5021aa08b.jpg);
	background-position:bottom;
	background-size: cover;-
}


h1 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	font-size: 7vw;
	padding: 2vw 0vw;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 5%;
}

a {
	color: black;
}

.pun:focus, .twitter-logo:focus, .facebook-logo:focus, .audioTrigger:focus{
	outline:0;
}

.pun.hover, .twitter-logo.hover, .facebook-logo.hover, .audioTrigger.hover {
	cursor: pointer;
}

.pun:active, .twitter-logo:active, .facebook-logo:active, .audioTrigger:active {
	box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}



/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*///////////////    main artwork      //////////////////////*/
/*/////////////////////////////////////////////////////////*/
.top-box{
	padding: 2vw !important;
	width: 100%;
	z-index: 1;
	/*border: 2px solid yellow;*/
}

.picture-box {
  height: 40vw;
	width: 95%;
  border-radius: 1%;
  background-image: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
  background-position: center;
  z-index: 1;
  position: relative;
	transition: all 6s ease-in-out;
	box-shadow: 1vw 1vw 4vw;
	/*border: 2px solid red;*/
}

.picture-box:hover {
	z-index: 1;
	transform: scale(1.1);
}

.pun {
	background: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
	background-position: center;
	background-size: auto;
	background-position: 77vw 46vw;
	height: 10vw;
  width: 40vw;
  border: .1vw solid white;
	border-radius: 5%;
  z-index: 3;
  position: absolute;
  top: 10vw;
	right: 30vw;
	box-shadow: 1vw 1vw 4vw;
	padding-bottom: 2.5vw;
}

.twitter-logo{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 4vw;
  width: 4vw;
  border: .15vw solid rgb(71, 162, 236);
  z-index: 3;
  position: absolute;
  top: 4vw;
	right: 5vw;
	box-shadow: .5vw .5vw .9vw;
	padding: 1vw;
	border-radius: 10%;
	text-decoration: none !important;
}

.facebook-logo{
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/b3/26/b5/b326b5f8d23cd1e0f18df4c9265416f7.png);
	background-size: 125%;
	background-position: center;
	background-repeat: no-repeat;
	height: 6vw;
  width: 6vw;
  border: .15vw solid rgb(71, 89, 147);
  z-index: 3;
  position: absolute;
  top: 4vw;
	right: 15vw;
	box-shadow: .5vw .5vw .9vw;
	text-decoration: none !important;
	border-radius: 10%;
}


  /*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*///// search bar and button style //////////////////////*/
/*/////////////////////////////////////////////*/

.search{
	z-index: 3;
	position: absolute;
	top: 30vw;
	left: 30vw;
	display: flex;
	justify-content: center;
}

.search-bar{
outline: none;
width: 40vw;
background-color: rgba(255, 255, 255, .7);
border-radius: 10px;
font-family: 'Fredericka the Great', cursive;
font-size: 3vw;
color: black;
/*border: .001px solid grey;*/
}

input {
	color: black;
}

#submitButton {
	display: none;
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*///////////////    audio      //////////////////////*/
/*/////////////////////////////////////////////////////////*/

.audioStyle {
	width: 60vw;
}

audio::-webkit-media-controls-panel {
	z-index: 3;
	left: 16vw;
	bottom: 5vw;
	width: 60vw;
	border-radius: 5%;
	height: 3vw;
	background-image: url(https://theextremehorticulturist.files.wordpress.com/2015/07/aspen-tree-3.jpg);
	background-position: center;
	background-size: contain;
	border: 2px solid white;
}

audio::-webkit-media-controls-volume-slider {
	background-color: black;
}

audio::-webkit-media-controls-timeline {
	background-color: black;
}

/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*/////////////			search results   ////////////////////////////*/
/*//////////////////////////////////////////////*/

.bottom-box {
	display: grid;
	background-image: url('./public/paper.jpeg');
  z-index: 3;
	width: 80%;
	align-content: center;
	margin-left: 10vw;
  width: 80%;
	box-shadow: .5vw .5vw .5vw;
	text-align: center;
	border-radius: 2%;
	/*border: .5vw solid white;*/
}

.container{
	display: flex;
	flex-flow: row wrap;
	margin-left: 3vw;
}

h3 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4vw;
	margin: 1vw;
}

#results-box image{
	background-position: center;
	padding: 0;
	color: none;
	border:
}

#results-box button {
	padding: 0;
	width: 80%;
}

.results-box {
  margin: 2vw;
	padding-top: 2vw;
  text-align:center;
  justify-content: space-between;
  border: .01vw solid white;
  width: 20%;
	border-radius: 5%;
	box-shadow: 1vw 1vw 4vw;
	background-image: url('./public/paper.jpeg');
}

.title-element{
	margin-top: 2vw;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2vw;
}

img {
  width: 100%;
	padding: 0vw;
	box-shadow: 1vw 1vw .9vw;
}
